version: '3.8'

services:
  jellyfin:
    image: lscr.io/linuxserver/jellyfin:latest
    container_name: jellyfin
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Etc/UTC
    ports:
      - "0.0.0.0:8096:8096"
      - "0.0.0.0:8920:8920"
    volumes:
      - jellyfin_config:/config
      - /opt/jellyfin/cache:/cache
      - /opt/jellyfin/media:/media
    restart: unless-stopped

volumes:
  jellyfin_config:
