version: '3.8'

services:
  openwebui:
    image: ghcr.io/open-webui/open-webui:main
    container_name: openwebui
    restart: unless-stopped
    volumes:
      - openwebui_data:/app/backend/data
    networks:
      - proxy
    labels:
      - "traefik.enable=true"
      - "traefik.http.services.openwebui.loadbalancer.server.port=8080"
    extra_hosts:
      - "host.docker.internal:host-gateway"

volumes:
  openwebui_data:


networks:
  proxy:
    external: true
